---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostLi from "../components/BlogPostLi.astro";
import { getCollection } from "astro:content";

const pageTitle = "Blog";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        This is where I will post about my journey learning Astro.
        {
            allPosts.map((post) => (
                <BlogPostLi
                    url={`/posts/${post.slug}`}
                    title={post.data.title}
                />
            ))
        }
    </p>
</BaseLayout>
